@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #120202;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    padding: 2rem 1rem;
}

header h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #41ff07;
}

header p {
    font-size: 1.2rem;
    opacity: 0.9;
    color: #d6d8e2;
}

/* Menu */
.menu {
    font-weight: 500;
    font-size: 14px;
    margin: 0 15px;
    color: #0ff50f;
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

.menu:hover {
    color: #2ce31b;
}

/* Botão */
.btn {
    padding: 0.7rem 1.5rem;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    color: #0ff50f;
}

.btn--primary {
    background: #52ec05;
    color: #333;
    font-weight: bold;
    margin-left: 15px;
}

.btn--primary:hover {
    background: #3df604;
    color: #111;
}

/* Frase motivacional */
.quote {
    font-size: 1.5rem;
    font-style: italic;
    margin: 2rem 0;
}

/* Imagem centralizada */
main img {
    display: block;
    margin: 2rem auto;
    max-width: 600px;
    width: 85%;
}

/* Rodapé */
footer {
    margin-top: auto;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
}
